.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.logo {
  height: 120px;
  margin: 20px 0 40px 0;
}

/*Input*/

.Input {
  margin-bottom: 50px;
}

.Input input {
  height: 23px;
  width: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #3c5ba6;
  text-align: center;
}

.Input button {
  margin-left: 10px;
  padding: 4px 10px;
  border: 2px solid #3c5ba6;
  border-radius: 4px;
  color: #3c5ba6;
  font-size: 16px;
  /*font-weight: bold;*/
  cursor: pointer;
}

.Input button:hover,
.Input button:focus {
  background-color: #ffcb05;
}

/*Text*/

.Text {
  color: #3c5ba6;
  font-size: 25px;
  margin-top: 30px;
}

/*Pokedex*/

.Pokedex .card {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #787878;
  border-radius: 7px;
}

.Pokedex img {
  width: 150px;
}

.Pokedex h3 {
  text-transform: capitalize;
  font-size: 30px;
  color: #2b3854;
  margin: 0;
}

.Pokedex p {
  color: #4f535c;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 25px;
}

.Pokedex p span {
  color: #2b3854;
  font-size: 24px;
  text-transform: capitalize;
  margin-left: 5px;
}

.Pokedex table {
  margin: auto;
}

.Pokedex th {
  color: #4f535c;
  font-size: 15px;
  font-weight: lighter;
  width: 90px;
  padding-bottom: 10px;
}

.Pokedex td {
  color: #2b3854;
  font-size: 25px;
  width: 100px;
}
